@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --base-white: hsl(0, 0%, 95%);
    --base-black: hsl(0, 0%, 10%);

    --primary-bg: #455a64;
    --primary-bg-light: rgb(120, 144, 156);
    --primary-bg-dark: rgb(38, 50, 56);
}

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--base-white, white);
    color: var(--base-black, black);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    text-align: center;
    padding: 0.5em 1em;
    border-bottom: 2px solid var(--base-black, black);
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    .logo {
        height: 3rem;
    }
}

main {
    grid-area: main;
    width: 80%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 2em;
    border-top: 2px solid var(--base-black, black);
    font-size: 1.2rem;
}

// Custom Classes

.gameboard-container {
    position: relative;
    width: 100%;
    min-width: 11rem;
    max-width: 30rem;

    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .gameboard {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        table-layout: fixed;
        border-collapse: collapse;
        border: 2px solid black;
        cursor: pointer;
        
    
        td, th {
            box-sizing: border-box;
            border: 2px solid black;

            span {
                width: 100%;
                height: 100%;
                display: grid;
                align-content: center;
                justify-content: center;
            }
        }
    
        td {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
            &:hover {
                background-color: grey;
            }
        }
    }

    .ships-table {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        table-layout: fixed;
        border-collapse: collapse;
        border: 2px solid black;
        cursor: pointer;

        display: grid;

        .ship {
            border: 2px solid red;
            display: grid;
        }
    }
}